body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
    font-size: 60px;
}
.logo span{
    color: cadetblue;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar ul{
justify-content: center;
align-items: center;
    list-style-type: none;
    padding: none;
margin: none;
    background-color:grey;
    overflow: hidden
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
}